<script setup>
import SetUsernameComponent from '@/components/SetUsername.vue';
import ChatComponent from '@/components/Chat.vue';

import { useUserStore } from '@/stores/user.js';
const userStore = useUserStore();
</script>

<template>
  <SetUsernameComponent v-if="userStore.username == null" />
  <ChatComponent v-else />
</template>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
</style>
