<script setup>
import ChatInputComponent from './ChatInput.vue';

import { ref, onMounted, onUnmounted } from 'vue';
import { createEventStack } from 'se-bus';

import { useUserStore } from '@/stores/user.js';
const userStore = useUserStore();

const messages = ref([]);

/**
 * se-bus
 * Listen to all events
 */
const eventStack = createEventStack();

onMounted(() => {
    eventStack.on('message.send', (s) => messages.value.push(s));
    eventStack.on('client.message.receive', (s) => {
        s.from += ' (server)';
        messages.value.push(s)
    });
});

onUnmounted(() => {
    eventStack.unregister();
});
</script>
<template>
    <div class="d-flex flex-column vw-100 vh-100">
        <div class="flex-fill p-3">
            <table class="table table-stripped">
                <thead>
                    <th>Date</th>
                    <th>From</th>
                    <th>Message</th>
                </thead>
                <tbody>
                    <tr v-for="(message, key) in messages" :key="key">
                        <td>
                            {{ message.date }}
                        </td>
                        <td>
                            {{ message.from }}
                        </td>
                        <td>
                            {{ message.message }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <ChatInputComponent />
        </div>
    </div>
</template>