<script setup>
import { ref } from 'vue';
import { emit } from 'se-bus';

import { useUserStore } from '@/stores/user.js';
const userStore = useUserStore();

const theCurrentMessage = ref('');

const sendMessage = () => {
    emit('message.send', {
        date: (new Date().toLocaleDateString()) +" "+ (new Date().toLocaleTimeString()),
        from: userStore.username,
        message: theCurrentMessage.value
    });
    theCurrentMessage.value = '';
};
</script>
<template>
    <form @submit.prevent="sendMessage()">
        <div class="d-flex pt-2">
            <input class="flex-fill form-control" v-model="theCurrentMessage" :placeholder="'Hi, my name is '+ userStore.username" />
            <input type="submit" class="btn btn-primary" value="Send" />
        </div>
    </form>
</template>