<script setup>
import { ref } from 'vue';

import { useUserStore } from '@/stores/user.js';
const userStore = useUserStore();

const currentInputName = ref('');
const setCurrentName = () => {
    userStore.username = currentInputName;
};
</script>

<template>
    <div class="d-flex vw-100 vh-100 align-items-center">
        <div class="container">
            <form @submit.prevent="setCurrentName()">
                <h1>Example se-bus + se-bus-ws application</h1>
                <p>Please enter your username in order to join the example chat</p>
                <input class="form-control" v-model="currentInputName" placeholder="Rainer Zufall" />
                <input class="btn btn-primary text-center w-100 mt-2" type="submit" value="Set name" />
            </form>
        </div>
    </div>
</template>